doctype html
html
  head
    title
    link(rel='stylesheet', href='./stylesheets/meyers-reset.css')
    link(rel='stylesheet', href='./stylesheets/style.css')

  body
    div.wrap
      div.container
        #brown.item
        #cyan.item
      div.container
        #indigo.item
        #orange.item
      div.interface
        p Start
        button#start
        p Strict Mode
        button#strict
        p Counter
        p.counter-box 001
    script(src="./javascripts/controls.js")
