doctype html
html
  head
    title
    link(rel='stylesheet', href='./stylesheets/meyers-reset.css')
    link(rel='stylesheet', href='./stylesheets/style.css')

  body
    div.wrap
      div.container
        #lime.item
        #turquoise.item
      div.container
        #purple.item
        #orange.item
      div.interface
        p Start
        button#start
        p Strict Mode
        button#strict
        p Counter
        p#counter-box 000

    audio#errorSound
      source(src="./sounds/errorSound.mp3" type="audio/mp3")
    audio#errorSoundShort
      source(src="./sounds/errorSoundShort.mp3" type="audio/mp3")
    audio#simonSound1
      source(src="./sounds/simonSound1.mp3" type="audio/mp3")
    audio#simonSound2
      source(src="./sounds/simonSound2.mp3" type="audio/mp3")
    audio#simonSound3
      source(src="./sounds/simonSound3.mp3" type="audio/mp3")
    audio#simonSound4
      source(src="./sounds/simonSound4.mp3" type="audio/mp3")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="./controls.js")
